{% extends 'base.html' %}
{% block title %}Tenant List - RMS{% endblock %}

{% block content %}

<div class="row mb-4">
    <div class="col">
        <h2 class="float-start">Tenants</h2>
        {% if user.is_property_owner %}
            
        {% endif %}
    </div>
</div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="propertyOwnersTable" width="100%" cellspacing="0">
            <thead>
                <tr>
        <th>Rent</th>
        <th>starting date</th>
        <th>end date</th>
        <th>status</th>
    </tr>
            </thead>
           <tbody>
    {% for leases in leases %}
    <tr>
        <td>{{ leases.monthly_rent}}</td>
        <td>{{ leases.start_date }}</td>
        <td>{{ leases.end_date }}</td>
        <td>{{ leases.status }}</td>
    </tr>
    {% endfor %}
</tbody>
        </table>
    </div>
</div>

<!-- Pagination -->
{% if is_paginated %}
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}{% if request.GET.property_type %}&property_type={{ request.GET.property_type }}{% endif %}{% if request.GET.city %}&city={{ request.GET.city }}{% endif %}">
                        Previous
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}{% if request.GET.property_type %}&property_type={{ request.GET.property_type }}{% endif %}{% if request.GET.city %}&city={{ request.GET.city }}{% endif %}">
                            {{ num }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}{% if request.GET.property_type %}&property_type={{ request.GET.property_type }}{% endif %}{% if request.GET.city %}&city={{ request.GET.city }}{% endif %}">
                        Next
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
{% endblock %}